/** Styles for Sunflower CSS Zen Garden - Group project by Lauren Allred and Ruth Hansen **/


/** need media queries in here to determine at what size to change from small screen to large screen **/

/** For larger screen - sidebar (navigation) is at bottom - have the 3 groups of links side by side - flex row - https://css-tricks.com/snippets/css/a-guide-to-flexbox/


/** need to figure out how to add image to the top of our website - perhaps image with transparent background except for where the image is on the left? **/

#css-zen-garden {
	display: flex;
}

.intro h1,h2 {
	color: red;
	display: flex;
	width: 100%;
	margin-left: 50%;
}

.summary {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main {
	display: column;
	width: 90%;
	margin: 1em;
}

.preamble {
	width: 90%;
	margin: 1em;
}

.page-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}



@media screen and (min-width: 800px) {
  
  .sidebar{
    width: 100%;
	margin-left: 1em;
    
    
  }
  
  .wrapper {
	display:inline-flex;
	flex-wrap: nowrap;
	width: 100%;
    justify-content: space-around;
 
}
  .main {
	display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
	width: 100%;
	margin: 1em;
    
}

.preamble {
	width: 100%;
	margin: 1em;
}
.page-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}
  
  .explanation{
    width:33%;
  }

.participation{
    width:33%;
  }
  .benefits{
    width:33%;
  }
  
  .requirements{
    width:100%;
  }
  
}


