/** Styles for Sunflower CSS Zen Garden - Group project by Lauren Allred and Ruth Hansen **/

/* need to figure out how to add image to the top of our website - perhaps image with transparency except for where the image is on the left? **/

/* SCSS variables **/
$thin-margin: 1em;
$full-width: 100%;
$middle-content-width: 30%;

/* mixin for flex container - access using     @include flex-container;        */
@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}

#css-zen-garden {
	@include flex-container(row, wrap);       
}

.intro h1,h2 {
	@include flex-container(row, wrap);       
	width: $full-width;
	margin-left: 50%;
}

.summary {
	@include flex-container(row, wrap);       
	flex-direction: column;
	text-align: center;
}

.main {
	@include flex-container(column);       
	width: 90%;
	margin: $thin-margin;
}

.preamble {
	width: 90%;
	margin: $thin-margin;
}

.page-wrapper {
	@include flex-container(row, wrap);       
	width: $full-width;
}

.wrapper {
	margin: $thin-margin;

}


/* styles for large screen */
@media screen and (min-width: 1000px) {
  
	.sidebar{
    	width: $full-width;
		margin-left: $thin-margin;    
  	}
  
 	.wrapper {
 		@include flex-container(row, nowrap);       
		display:inline-flex;
		width: $full-width;
    	justify-content: space-around;
    	margin: $thin-margin;

	}

 	.main {
		display:inline-flex;
    	@include flex-container(row, wrap);       
    	width: $full-width;
  	}

	.preamble {
		width: $full-width;
		margin: $thin-margin;
  	}

	.page-wrapper {
		@include flex-container(row, wrap);       
		width: $full-width;
  	}
  
	.explanation{
    	width:$middle-content-width;
    	margin: $thin-margin;
  	}

	.participation{
    	width:$middle-content-width;
    	margin: $thin-margin;
  	}

	.benefits{
    	width:$middle-content-width;
    	margin: $thin-margin;
  	}
  
	.requirements{
    	width:$full-width;
    	margin: $thin-margin;
  	}
  
}


